* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: #374151;
  word-break: keep-all;
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
  width: 1920px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
  }
  .logo-button {
    width: 153px;
    height: 51px;
  }
  .login-button {
    width: 128px;
    height: 48px;
    border-radius: 8px;
    padding: 23px 12px;
    gap: 10px;
    background-color: #3692ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  span {
    font: Pretendard;
    font-weight: 600;
    size: 16px;
    line-height: 26px;
    color: #f3f4f6;
  }
}

/* main */
main {
  width: 100vw;
  margin-top: 70px;
}

.first-section {
  background-color: #cfe5ff;
  width: 1920px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;

  .wrapper {
    display: flex;

    align-items: center;

    width: 1110px;
    height: 340px;
    gap: 7px;
  }
  .sightseeing-box {
    width: 357px;
    height: 260px;
    padding: 0 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .pandaImg-box {
    width: 746px;
    height: 340px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.button {
  background: #3692ff;
  width: 357px;
  height: 56px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.pill-button {
  /* btn_large */

  /* Auto layout */
  font-size: 20px;
  font-weight: 700;
  border-radius: 999px;
  padding: 16px 124px;
}

h1 {
  /* 인기 상품을확인해 보세요 */

  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.02em;
}

/* second-section */
.second-section {
  width: 1920px;
  height: 2160px;
  margin: 0 auto;
  padding-bottom: 138px;
  .feature {
    width: 1920px;
    height: 720px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
  }

  .feature-divBox {
    width: 988px;
    height: 444px;
    display: flex;
    align-items: center;
    gap: 64px;
    border-radius: 12px 0px 0px 0px;
  }
  .feature-imgBox {
    width: 579px;
    height: 444px;

    img {
      width: 579px;
      height: 444px;
    }
  }
  .feature-contentBox {
    width: 298px;
    height: 238px;
    padding: 0px 24px 0px 0px;
    .feature-tag {
      /* Hot item */

      height: 26px;

      /* pretendard/2lg-18px-bold */
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      /* identical to box height, or 144% */
      display: flex;
      align-items: center;

      /* Primary/100 */
      color: #3692ff;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    div {
      width: 298px;
      height: 238px;
      padding: 0px 24px 0px 0px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
  white-space: nowrap;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 200px 108px 200px;
  font-size: 16px;
  width: 100%;
}
.footer-menu {
  gap: 30px;
  display: flex;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
  cursor: pointer;
}

#socialMedia {
  display: flex;
  gap: 12px;
}
